apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb-crds
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: metallb-system
  sources:
    - chart: metallb
      repoURL: https://metallb.github.io/metallb
      targetRevision: 0.14.8
      helm:
        releaseName: metallb
        valueFiles:
          - $values/argocd/platform/metallb/metallb-crds/values.yaml
    - repoURL: https://github.com/dinosgnk/homelab.git
      targetRevision: main
      ref: values

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
