apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb-config
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: metallb-system
  sources:
    - repoURL: https://github.com/dinosgnk/homelab.git
      targetRevision: main
      path: argocd/platform/metallb/metallb-config/manifests.yaml

  syncPolicy:
    automated:
      prune: true
      selfHeal: true