expose:
  type: loadBalancer
  tls:
    enabled: true
    certSource: auto

externalURL: https://harbor.homelab.local

persistence:
  enabled: true
  persistentVolumeClaim:
    registry:
      storageClass: ""
      size: 50Gi
    chartmuseum:
      storageClass: ""
      size: 5Gi
    jobservice:
      storageClass: ""
      size: 1Gi
    database:
      storageClass: ""
      size: 1Gi
    redis:
      storageClass: ""
      size: 1Gi
    trivy:
      storageClass: ""
      size: 5Gi

harborAdminPassword: "Harbor12345"

portal:
  replicas: 2

core:
  replicas: 2
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 500m

jobservice:
  replicas: 2
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 500m

registry:
  replicas: 2
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 500m

trivy:
  enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 1Gi

database:
  type: internal
  internal:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 500m

redis:
  type: internal
  internal:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 500m
