server:
  ha:
    enabled: false

  resources:
    requests:
      memory: 256Mi
      cpu: 250m
    limits:
      memory: 512Mi
      cpu: 500m

  dataStorage:
    enabled: true
    size: 2Gi
    storageClass: ""
    accessMode: ReadWriteOnce

  auditStorage:
    enabled: true
    size: 2Gi
    storageClass: ""
    accessMode: ReadWriteOnce

ui:
  enabled: true
  serviceType: "LoadBalancer"
  externalPort: 8200

injector:
  enabled: true
  replicas: 2
  resources:
    requests:
      memory: 64Mi
      cpu: 50m
    limits:
      memory: 128Mi
      cpu: 100m
  
  metrics:
    enabled: true

csi:
  enabled: false
