apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: envoy-gateway
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: envoy-gateway-system
  sources:
    - chart: gateway-helm
      repoURL: docker.io/envoyproxy
      targetRevision: v1.6.1
      type: helm
      helm:
        values: |
          kubernetesClusterDomain: hyperion-cluster

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
